.menu {
  position: relative;
  padding-left: 1.25em;
  display: inherit;
}
.menu:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.25em;
  width: 1em;
  height: 0.15em;
  background: black;
  box-shadow:
    0 0.25em 0 0 black,
    0 0.5em 0 0 black;
}
.fixed {
  position: fixed;
}
.max699min520 {
  display: none;
}
.notmax699min520 {
  display: inherit;
}

@media screen and (max-width: 699px) and (min-width: 520px) {
  .max699min520 {
    display: inherit;
  }
}
@media screen and (max-width: 699px) and (min-width: 520px) {
  .notmax699min520{
    display: none;
  }
}

@media screen and (max-width: 699px) and (min-width: 520px) {
  .menu {
    display: none;
  }
}
