/* <imports> */
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Coming+Soon');
@import url('https://fonts.googleapis.com/css?family=Calligraffitti');
@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
/* </imports> */
/* <custom> */
/* <text-tags> */
roboto {
  font-family: 'Roboto', sans-serif;
}
open-sans {
  font-family: 'Open Sans', sans-serif;
}
coming-soon {
  font-family: 'Coming Soon', cursive;
}
calligraffitti {
  font-family: 'Calligraffitti', cursive;
}
architects-daughter {
  font-family: 'Architects Daughter', cursive;
}
slabo {
  font-family: 'Slabo 27px', serif;
}
.roboto {
  font-family: 'Roboto', sans-serif;
}
.open-sans {
  font-family: 'Open Sans', sans-serif;
}
.coming-soon {
  font-family: 'Coming Soon', cursive;
}
.calligraffitti {
  font-family: 'Calligraffitti', cursive;
}
.architects-daughter {
  font-family: 'Architects Daughter', cursive;
}
.slabo {
  font-family: 'Slabo 27px', serif;
}
/* </text-tags> */
/* </custom> */
