/* <imports> */
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Coming+Soon');
/* </imports> */
/* <custom> */
/* <text-tags> */
roboto {
  font-family: 'Roboto', sans-serif;
}
open-sans {
  font-family: 'Open Sans', sans-serif;
}
coming-soon {
  font-family: 'Coming Soon', cursive;
}
/* </text-tags> */
/* </custom> */
